<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Erasmus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colapsedNavbar" aria-controls="colapsedNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="colapsedNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"  routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">My Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">My Campaigns</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-outline-danger btnLink" routerLink="/" role="button">Logout</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary btnLink" routerLink="/" role="button">Setings</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success btnLink" routerLink="/login" role="button">Sing in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary btnLink" routerLink="/register" role="button">Register</a>
        </li>
      </ul>
    </div>
  </nav>